/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Extra large: large desktops, 1200px and up*/
@media (min-width: 1200px) {  }

/* large device: desktops, 992px and up*/

@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* Banner Responsive*/
    /* .banner-style-one-item h1 {
    font-size: 54px;
} */
    
 }

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /* Banner Responsive*/
    .banner-style-one-item h1 {
    font-size: 55px;
}

.attr-nav {
    display: none;
}

/* Service Responsive */
.servive-one-heading h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}

 /* Feature Responsive */

.feature-one-item {
    margin-top: 30px;
}

/* About Responsive */

.about-style-one-content {
    margin-top: 70px;
}

}

/* MObile Layout: 576px.*/

@media (min-width: 576px) and (max-width: 767.98px) { 

    /* Banner Responsive*/
    .banner-style-one-item h1 {
    font-size: 45px;
}
    .attr-nav {
    display: none;
}

/* Service Responsive */
.servive-one-heading h3 {
    font-size: 35px;
}

.funfact-style-one-item .funfact {
    display: block;
    text-align: center;
}

/* Feature Responsive */

.feature-one-item {
    margin-top: 30px;
}

.feature-one-item.dynamik-relative {
    top: 0;
}

/* About Responsive */

.about-style-one-content {
    margin-top: 70px;
}

.about-style-one-content h2 {
    font-size: 55px;
}

}

/* MObile Layout: 576px.*/
@media (max-width: 575.98px) { 

/* Banner Responsive*/
    .banner-style-one-item h1 {
    font-size: 45px;
}

a.btn-md{
    margin-left: 0px !important;
    margin-top: 15px;
}

.banner-style-one-item {
    text-align: center;
}

.attr-nav {
    display: none;
}

/* Service Responsive */
.servive-one-heading h3 {
    font-size: 30px;
}

.service-one-card {
    display: block;
    text-align: center;
}

.service-one-item {
    text-align: center;
}

.funfact-style-one-item .funfact {
    display: block;
    text-align: center;
}

.funfact-style-one-content h3 {
    font-size: 36px;
}

/* Feature Responsive */

.feature-one-item {
    margin-top: 30px;
}

.feature-one-item.dynamik-relative {
    top: 0;
}

.feature-one-item img {
    width: 55px;
}

/* About Responsive */

.about-style-one-content {
    margin-top: 70px;
    text-align: center;
}

.about-style-one-content h2 {
    font-size: 40px;
}

/* Service two Responsive */

.service-two-item {
    display: block !important;
    text-align: center;
}

.service-two-heading h3 {
    font-size: 46px;
}

}